.venv
Forecasting Sticker Sales\sample_submission.csv
Forecasting Sticker Sales\submission.csv
Forecasting Sticker Sales\test.csv
Forecasting Sticker Sales\train.csv
DLS_I
DS_K
Global consumption\global_energy_consumption.csv
Sberbank Russian Housing Market\macro.csv
Sberbank Russian Housing Market\Data_Dictionary.txt
Sberbank Russian Housing Market\test.csv
Sberbank Russian Housing Market\train.csv
titanic\gender_submission.csv
titanic\test.csv
titanic\titanic_result.csv
titanic\train.csv